.grid-container {
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 40px; 
    min-width: 80vw;
}
  
.card {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 300px; 
}

.card-2330C {
    background-color: #CECDCF; 
}

.card-705C {
    background-color: #F5DADF; 
}
.card-663C {
    background-color: #E2E0E3; 
}
.card-4031C {
    background-color: #F9DBC6; 
}
.card-663CD {
    background-color: #EDEBED; 
}
.card-7457C {
    background-color: #C3E5E9; 
}
.card-4175C {
    background-color: #99C4C8; 
}
.card-4176C {
    background-color: #C0D5CF; 
}
.card-7451C {
    background-color: #E2E8DE; 
}
.card-663C {
    background-color: #F2ECE8; 
}
.card-footer {
      background-color: #fff;
      padding: 20px; 
}
.card-name {
    color: #000;
    font-size: 18px;
    margin: 0;
}

.card-name span {
    display: block; 
}

.grid-item {
    width: 200px;
}

.grid-item a {
    text-decoration: none;
}

.grid-item i {
    font-size: 180px;
    padding-top: 17.5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 17.5px;
    color: #333;
}

.grid {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(5, auto);
    grid-gap: 40px; 
    min-width: auto;
}

@media (max-width: 639.98px) {
    .grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .grid-header {
        text-align: center;
    }
}